#                          DataFrame

In [130]:
import pandas as pd
import numpy as np

In [131]:
DataF={"Types":["Care","Bike","Bus","Truck"],
       "Cost":[100,150,300,600]}

In [132]:
DataF

{'Types': ['Care', 'Bike', 'Bus', 'Truck'], 'Cost': [100, 150, 300, 600]}

In [133]:
type(DataF)

dict

In [134]:
dp=pd.DataFrame(DataF)

In [135]:
dp

   Types  Cost
0   Care   100
1   Bike   150
2    Bus   300
3  Truck   600

In [136]:
dp_Flip=dp.T

In [137]:
dp_Flip

          0     1    2      3
Types  Care  Bike  Bus  Truck
Cost    100   150  300    600

In [138]:
dp_Flip=dp_Flip.rename(columns ={ dp_Flip[0]:"Option 1"})

TypeError: unhashable type: 'Series'

In [ ]:
print("Name Is :" + "Mukund")

# The Python Operators
# 1. Arithmetic
# 2. Relational 
# 3. Logical
# 4. Membership
# 5. Bitwsie
# 6. Assigment

# ********************************

# 1. Arithmetic Operators


# g. Exponentiation

# a. Addition

In [ ]:
x=10
y=2
z=x+y
print(z)
type(z)

# b. Subtraction

In [ ]:
x=10
y=2
z=x-y
print(z)
type(z)

# c. Multiplication

In [ ]:
x=10
y=2
z=x*y
print(z)
type(z)

# d. Division

In [ ]:
x=10
y=2
z=x/y
print(z)
type(z)

# e. Modulus

In [ ]:
x=28
y=4
z=x%y
print(z)
type(z)

In [ ]:
x=5
y=428
z=x%y
print(z)
type(z)

#### Modulus ->Numerator ->Denominator it returns remainder else it returns x

# f. Floor Division

In [ ]:
x=27
y=4
z=x//y
print(z)
type(z)

#### FLoor Division ->Numerator ->Denominator it returns Quotient else it return 0

In [ ]:
x=3
y=2
z=x**y
print(z)
type(z)

In [ ]:
Name="Mukund"
Age=" 27"
NameAge=Name+Age

In [ ]:
NameAge

In [ ]:
Name="Mukund"
Age=" 27"
NameAge=Name-Age
NameAge

In [ ]:
Name="Mukund "
Age=2
NameAge=Name*Age
NameAge

In [ ]:
Name="Mukund "
Age="27"
NameAge=Name/Age
NameAge

## Relational Operatos

In [ ]:
x=1
y=8
x>y

In [ ]:
x=1
y=8
x==y

In [ ]:
x=1
y=8
x!=y

In [ ]:
x=1
y=8
x<=y

In [ ]:
x=1
y=8
x>=y

In [ ]:
x=1
y=8
x>y

In [ ]:
x=1
y=8
x<y

# Logical Operators

In [ ]:
x=False
y=True
z=True

In [ ]:
x and y

In [ ]:
x or y

In [139]:
x or z

True

In [143]:
y and not z

False

# Membership Operators

In [ ]:
## Runtime Variable assignment

# Assignment Opertors

In [145]:
a=8
b=2
a=a+b
a

10

In [146]:
a=8
b=2
a+=b
a

10

In [147]:
a=8
b=2
a-=b
a

6

In [148]:
a=8
b=2
a*=b
a

16

In [149]:
a=8
b=2
a%=b
a

0

In [150]:
a=8
b=2
a**=b
a

64

In [151]:
a=8
b=2
a//=b
a

4

### Conditional Statments

In [153]:
num=5
if num>0:
    print(num,"Is Greter Than Zero")

5 Is Greter Than Zero

In [154]:
num=5
if num<0:
    print(num,"Is Greter Than Zero")

In [157]:
num=5
if num<0:
    print(num,"Is Greter less than Zero")
else:
     print(num,"Is Greter Than Zero")

5 Is Greter Than Zero

In [158]:
num=-5
if num<0:
    print(num,"Is Greter less than Zero")
else:
     print(num,"Is Greter Than Zero")

-5 Is Greter less than Zero

In [159]:
num=-5
if num<0:
    print(num,"Is Greter less than Zero")
else:
     print(num,"Is Greter Than Zero")

-5 Is Greter less than Zero

In [164]:
age=int(input("Enter Age"))
if(0<age<3):
    print("No fares for Age group 0 - 3")
elif(3<age<10):
    print("Bus Fare is 10") 
elif(10<age<20):
    print("Bus Fare is 20")  
else:
    print("Bus Fare is 30")

Enter Age25
Bus Fare is 30

# "eval" takes integer or float

In [166]:
age=eval(input("Enter Age"))
if(0<age<3):
    print("No fares for Age group 0 - 3")
elif(3<age<10):
    print("Bus Fare is 10") 
elif(10<age<20):
    print("Bus Fare is 20")  
else:
    print("Bus Fare is 30")

Enter Age3.3
Bus Fare is 10